@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.ttf') format('ttf');
  font-weight: 700;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.top_menu
{
    text-align: center;
}

.menu_item
{
    list-style: none;
	display: inline-block;
}

.menu_link
{
    text-decoration: none;
    padding: 0 20px;
    line-height: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #282b30;
    display: inline-block;
}

.top_block_wrapper
{
    background: url('../images/top_block.jpg') center center;
    background-size: cover;
    padding: 175px 0;
    text-align: center;
}

.top_block_title_wrapper
{
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    display: inline-block;
}

.top_block_title
{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(20px);  
    transition: opacity 1.5s, transform 1.5s;
}

.loaded .top_block_title
{
    opacity: 1;
    transform: translateY(0);
}

.content_wrapper
{
    padding: 60px 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.mailing_wrapper
{
    padding: 60px 0;
    background-color: #e8e6eb;
    max-width: 100%;
    margin-top: 80px;
}

.mailing_wrapper_text {
    margin: 0 auto 20px;
    max-width: 540px;
}

.content_title
{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    text-transform: uppercase;
    color: #282b30;
    margin: 0 0 30px;
}

.text
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 25px;
    color: #282b30;
    max-width: 560px;
}

.content_list
{
    margin: 0 0 40px;
    padding: 0 0 0 20px;
}

.content_list_item
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #282b30;
    max-width: 380px;
}

.order_button
{
    background: #0fa8ea;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;    
    transition: background 1s,
                box-shadow 1s;
}

.order_button:hover
{
    background: #0b82b6;
    box-shadow: 0 5px 16px rgba(0,0,0,0.35);
}

.button_light
{
    background: none;
    color: #0fa8ea;
	border: 1px solid #0fa8ea;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
    transition: background-color 1s,
                color 1s,
                box-shadow 1s;
}

.button_light:hover
{
    background-color: #0fa8ea;
    color: #fff;
    box-shadow: 0 5px 16px rgba(0,0,0,0.35);
}

.order_title
{
    max-width: 340px;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    color: #2b2b2b;
    margin: 0 0 26px;
}

.order_text_wrapper
{
    display: inline-block;
    width: 430px;
    margin-right: 110px;
    vertical-align: middle;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1.5s, transform 1.5s;
}

.goods_block_loaded .order_text_wrapper
{
    opacity: 1;
    transform: translateX(0);
}

.order_picture_wrapper
{
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1.5s, transform 1.5s;
}

.goods_block_loaded .order_picture_wrapper
{
    opacity: 1;
    transform: translateX(0);
}

.input 
{
    background-color: #fff;
    color: #777777;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    line-height: 60px;
    font-weight: 500;
    border-radius: 30px;
    border: solid 1px #0fa8ea;
    max-height: 60px;
    max-width: 510px;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.select 
{
    color: #000;
    max-height: 60px;
    max-width: 540px;
    width: 100%;
    padding-left: 30px;
    padding-right: 40px;
    appearance: none;
}

.select_container 
{
    position: relative;
}

.arrow_icon 
{
    position: absolute;
    padding-top: 15px;
    right: 30px;
}

.checkbox_group 
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 48px;
    font-weight: 500;
    padding-left: 36px;
    margin-bottom: 20px;
}

.checkbox_group label 
{
    display: inline-block;
    margin-right: 35px;
    cursor: pointer;
}

.checkbox_input
{
    appearance: none;
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
}

.checkbox_input::after
{
    content: url('../images/checkbox-clean.png');
    position: absolute;
    top: 2px;
    right: 5px;
}

.checkbox_input:checked::after {
    content: url('../images/checkbox-checked.png');
}

.submit_button
{
    background: #0fa8ea;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 66px;
    font-weight: 700;
    border-radius: 30px;
    max-width: 540px;
    width: 100%;
    padding: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.bottom_menu
{
    text-align: center;
}
